{
	"env": {
		"browser": true,
    "es6": true,
    "jquery": true,
    "node": true,
    "jest": true
	},
	"parser": "babel-eslint",
	"extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "sourceType": "module",
		"ecmaVersion": 2018
  },
	"rules": {
    "indent": ["error", "tab", {"MemberExpression": "off"}],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
    "comma-dangle": ["error", "never"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "imjs": true
  }
}
